<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SendGrid.ApiKey" value="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 "/>
  <add key="BrainTree.MerchantId" value="h24svnqyrf6gqwhw" />
  <add key="BrainTree.PublicKey" value="9b9y7pbvs5kwn6v9"/>
  <add key="BrainTree.PrivateKey" value="86879a02fd89e42dde58583da2fd99de"/>
  <add key="SmartyStreets.AuthId" value="55606f27-65c0-c027-aa78-0541e7fceb9f"/>
  <add key="SmartyStreets.AuthToken" value="5o2o3QLOTmTmpfRiS3Jd"/>
  <add key="Twilio.AuthToken" value="4946620d0ed9de8c4bc90a4854af27ea"/>
  <add key="Twilio.AccountSid" value="SK9e36406b8fc317f20c139cdafbdae0cf" />
  <add key="Twilio.Secret" value="Q7braM1rMBHwFUfvwGuQ3ZfOUxRGRo83"/>
  <add key="Twilio.FromNumber" value="3312156291"/>
</appSettings>
