@{
    ViewBag.Title = "About Us";
}

<h2>How it Works</h2>
<table class="works">
    <tbody>
        <tr>
            <td><img src="~/Content/shop.png" /></td>
            <td><img src="~/Content/ship.png" /></td>
            <td><img src="~/Content/explore.png" /></td>
            <td><img src="~/Content/return.png" /></td>
        </tr>
        <tr>
            <td>Shop </td>
            <td>Ship</td>
            <td>Explore</td>
            <td>Return</td>
        </tr>
    </tbody>
</table>

            <h2 style="padding: 40px;">About Us</h2>
            <p class="skyblue">If anyone knows outdoor gear, it's us. No matter what the activity is or what equipment is needed, we've tested it all. </p>
<p class="aquamarine">
    From Skiing down mountains with the latest and greatest skiis, to surfing the largest waves with custom built boards,
    we have anything and everything available to rent.
</p>
<p class="beige">Not a big camper but is being forced to go for a friends 30th birthday party? Not a problem. Rent a sleeping bag
    from us for the weekend, return it the next day, and never look at it again! </p>
<p class="cadetblue">
    Maybe you are big into camping and hiking. Have you ever been interested in the newest pair of hiking shoes from your favorite company but too scared to spend all that money? Especially 
    if they don't end up working for you?
    Worry no more. Rent from OGR, try them out on your next trip. If you like them, buy them from us! If they didn't make all your hopes and dreams come true,
    return them back with free shipping on us.
</p>






