@{
    ViewBag.Title = "Contact";
}
<div class="fullscreen-bg">
    <img src="~/Content/snow-1209835_1920.jpg">
</div>

<div class="cart">
    <div class="cart-content">
        
        <div class="cart-header">
            <h2>Contact Us</h2>
        </div>
        <div class="cart-body"></div>
        <div class="skyblue">
            <h3>Outdoor Gear Rental</h3>

            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
            </div>
        </div>
    </div>

</div>



