

<main>

        <div class="text-wrapper">
          <h1>
                Ready.Set.
                <div class="animated-words">
                    <span>Climb</span>
                    <span>Run</span>
                    <span>Ski</span>
                    <span>Hike</span>
                    <span>Camp</span>
                    <span>Live</span>
                </div>
       </h1>
        </div>
        <div class="fullscreen-bg">
            <video preloud="auto" autoplay loop muted class="fullscreen-bg__video">
                <source src="~/Content/611095975.mp4" type="video/mp4">

            </video>
        </div>

</main>

<script src="~/Content/script.js"></script>
