@{
    ViewBag.Title = "Forgot Password";
}

<div class="fullscreen-bg">
    <img src="~/Content/snow-1209835_1920.jpg" />
</div>

<!-- The LOG IN Modal -->
<div class="cart">


    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <div>

                <div class="cart-content">
                    <div class="cart-header">
                        <h2>Forgot Password</h2>
                    </div>
                    <div class="cart-body">

                        @if (ViewBag.Error != null)
            {
                            <div class="alert alert-danger">
                                <ul>
                                    @foreach (string error in (IEnumerable<string>)ViewBag.Error)
                                    {
                                        <li>@error</li>
                                    }
                                </ul>

                            </div>
                        }
                        @using (Html.BeginForm())
            {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <label for="username" class="control-label">Username</label>
                                <input name="username" placeholder="username" type="text" class="form-control" required />
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <input type="submit" class="btn btn-primary" value="Request Reset Instructions" />
                                </div>
                            </div>
                        }
                        <div style="padding-top: 20px; font-size: 20px; text-align: center;">OR</div>
                        @using (Html.BeginForm())
            {
                            @Html.AntiForgeryToken()
                            <div class="form-group" style="padding-top: 20px" ;>
                                <label for="email" class="control-label">Email</label>
                                <input name="email" placeholder="email" type="email" class="form-control" required />
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <input type="submit" class="btn btn-primary" value="Request Reset Instructions" />
                                </div>

                            </div>
                        }
                    </div>

                </div>
            </div>

            </div>
</div>
</div>