@{
    ViewBag.Title = "ResetPasswordSent";
}
<div class="fullscreen-bg">
    <img src="~/Content/snow-1209835_1920.jpg">
</div>

<div class="cart">
    <div class="cart-content">
        <div class="cart-header">
            <h2>Reset Instructions Sent</h2>
        </div>
        <div class="cart-body" style="text-align:center; font-size:17px;">
            <p>We've sent you instructions for resetting your password.  Please check your email.</p>
        </div>
    </div>
</div>